*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    
    
}

.header{
    
    height: 40px;
    width: 100%;
    background-color: rgb(233, 232, 235);
    border-bottom:1px solid #C2DED1;




}

.container1{
    display: grid;
    grid-template-columns:95% 5%;
    width: 100%;
    height: 100vh;
    
    



}
.box1{

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
    background-color: rgb(233, 232, 235);


}
.titlebox{
    width: 100%;
    height: 100px;
    background: #C2DED1;
    border: 5px solid #354259;
    margin: 10px;
    
    
    
    
    
    
    
    }


.interbox{
    flex: 1;
    width: 30%;
    height: 200px;
    background: #C2DED1;
    border: 5px solid #354259;
    margin: 10px;
    align-content: center;
    flex-wrap: wrap;
    


}

h2{
   text-align:center; 
   font-size: 70px;
   color: #354259;
   


}

h3{
    text-align: center; 
    font-size: 15px;
    color: #354259;
     
 
 
 }
 




.box3{
    /*background-color:#201E43;*/
    background-color: #354259;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    padding:5px;
    align-content: space-evenly;
    
  
    


}

a{

  
    font-size: 18px ;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #EEEEEE;
    border-bottom: 3px solid #ECE5C7 ;
    border-right: 3px solid #ECE5C7;
    border-bottom-right-radius: 5px;
    margin-right: 10px;
    padding-right: 10px;
    text-align: center;
   
   
   


}


.img1{

    width: 40px;
    height:40px;
   
   
 
   
   



}

a title{
    font-size: 10px;
    color: aquamarine;




}

.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(225, 225, 227);
    border:2px solid rgb(111, 111, 112);
    border-radius: 3px;




}












@media (min-width: 300px){


}